{% extends "tracking_app/base.html"%}
{% block content %}
{%load static%}
<style>
    .td {
        font-weight: bold;
    }
</style>
<br>
<div class='container'>
    <div class="col"></div>
    <div class="col">
        <div class=" text-center">
            <img src="{%static 'visual/gfest.png'%}" alt="" height="75" width="75">
            <h3 style="font-weight: bold;"> Registered participants </h3>
            <br>
            <div class="row">
                <table class="table table-dark rounded" style="border-radius: 30px;">
                    <thead>
                        <th> ID </th> <th> Participant </th> <th> Phone </th> <th> Scans </th> <th>Action 1</th> <th>Action 2</th>
                    </thead>
                {% for participant in participants %}
                    <tr>
                        <td>{{ participant.id }}</td>
                        <td>{{ participant.name }}</td>
                        <td>{{ participant.phone_nr }}</td>
                        <td> {{ participant.scans }} </td>
                        <td> <a style="color: #97e601; font-weight: bold;" href="{% url 'edit_participant' participant.id %}"> Edit </a> </td>
                        <td> <a style="color: #97e601; font-weight:bold ;" href="{% url 'delete' participant.id %}"> Delete </a> </td>
                    </tr>
                {% endfor %}
                </table>
            </div>
            
        </div>
    </div>
    <div class="col"></div>
    
</div>

{% endblock content%}
